# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS & Windows system files
.DS_Store
Thumbs.db

# Environment variables / Secrets
.env

# Node modules (if using Node.js)
node_modules/

# Logs
*.log

# IDEs
.idea/
*.swp
*.swo

# Compiled Java / Kotlin files
*.class

# JetBrains IDEs
*.iml
out/

# Package lock files
package-lock.json
yarn.lock

# Virtual environments
venv/
.env/
ENV/
env.bak/
